<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/mino.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="batr">
            <div class="topap">
                <img src="./img/topa.JPG" alt="">
            </div>

            <div>
                <form action="">
                    <div class="conto">
                        <img src="./img/conton.JPG" alt="">
                    

                    <button class="btn1"  id="barinxri" type="button">Ir para pagamento</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <div class="bobota">
            <img src="./img/botta.JPG" alt="">
        </div>
    </div>

    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>